/* Size for brand */
/* nav .navbar-brand
{
    font-size: xx-large;
} */

/* Colors for brand */
/* nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
} */


/* Navbar */
.nav-container {
    background-color: #163922;

}


.nav-item.quote {
    background-color: #EEF78F;
    font-weight: bold;
}
.nav-item.buy {
    background-color: #8CB444;
    font-weight: bold;
}
.nav-item.sell {
    background-color: #689534;
    font-weight: bold;
}
.nav-item.history {
    background-color: #C1D688;
    font-weight: bold;


}
.nav-item.add {
    background-color: #EEF78F;
    font-weight: bold;
}
.nav-item.logout {
    background-color: #8CB444;
    font-weight: bold;
}


.nav-item.register {
    background-color: #8CB444;
}
.nav-item.login {
    background-color: #8CB444;
}

/* .nav-item {
    background-color: #FFECD1 !important;
} */