/*  */
/*  */
/* Navbar */
/*  */
/*  */

.nav-container {
    background: linear-gradient(0.25turn, #a960ee, #ff333d, #90e0ff, #ffcb57);
}

.navbar-brand {
    width: 25%;
}
@media (max-width: 1400px) {
    .navbar-brand {
        width: 35%;
    }
}
@media (max-width: 1200px) {
    .navbar-brand {
        width: 40%;
    }
}
@media (max-width: 1000px) {
    .navbar-brand {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        width: 75%;
    }
}
@media (max-width: 500px) {
    .navbar-brand {
        width: 100%;
    }
}


/*  */
/* Nav Links */
/*  */

.nav-link {
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.nav-link.quote {
    background-color: white;
    background: linear-gradient(to right, white, #90e0ff);
    font-weight: bold;
}

/* Colored Links */

/* a960ee
ff333d
90e0ff
ffcb57 */

.nav-link.buy {
    background-color: #a960ee;
    background: linear-gradient(to right, #90e0ff, #a960ee);
    font-weight: bold;
    border-right: solid rgba(255,255,255,0.7) 1px;
}
.nav-link.sell {
    background-color: #ff333d;
    background: linear-gradient(to right, #a960ee, #ff333d);
    font-weight: bold;
    border-right: solid rgba(255,255,255,0.7) 1px;
}
.nav-link.history {
    background-color: #90e0ff;
    background: linear-gradient(to right, #ff333d, #ffcb57);
    font-weight: bold;
}


.nav-link.add {
    background: linear-gradient(to right, #ffcb57, white);
    font-weight: bold;
}


.nav-link.logout {
    background-color: white;
    font-weight: bold;
}



.nav-link.register {
    background-color: rgba(255,255,255,0.8);
    font-weight: bold;
    border-right: solid rgba(0,0,0,0.3) 1.5px;
}
.nav-link.login {
    background-color: rgba(255,255,255,0.9);
    font-weight: bold;
}

/*  */
/* Buttons */
/*  */

.btn {
    background-color: #0a2540;
}