/*  */
/*  */
/* Navbar */
/*  */
/*  */

.nav-container {
    background: linear-gradient(to right, #163922 0%, #8CB444 35%);

}

.navbar-brand {
    width: 25%;
}
@media (max-width: 1400px) {
    .navbar-brand {
        width: 35%;
    }
}
@media (max-width: 1200px) {
    .navbar-brand {
        width: 40%;
    }
}
@media (max-width: 1000px) {
    .navbar-brand {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        width: 75%;
    }
}
@media (max-width: 500px) {
    .navbar-brand {
        width: 100%;
    }
}


/*  */
/* Nav Links */
/*  */

.nav-link.quote {
    background-color: white;
    font-weight: bold;
}

/* Colored Links */

.nav-link.buy {
    background-color: #a960ee;
    background: linear-gradient(to right, #a960ee, #ff333d);
    font-weight: bold;
}
.nav-link.sell {
    background-color: #ff333d;
    background: linear-gradient(to right, #ff333d, #90e0ff);
    font-weight: bold;
}
.nav-link.history {
    background-color: #90e0ff;
    background: linear-gradient(to right, #90e0ff, #ffcb57);
    font-weight: bold;
}


.nav-link.add {
    background-color: white;
    font-weight: bold;
}


.nav-link.logout {
    background-color: white;
    font-weight: bold;
}



.nav-link.register {
    background-color: white;
}
.nav-link.login {
    background-color: white;
}

/* .nav-link {
    background-color: white !important;
} */